examples/basic_gpio_demo.json
[
    {
        "id": "intro-node",
        "type": "comment",
        "z": "f9d415c9e22ff7d8",
        "name": "🚀 IPCBOX-CM5 GPIO example",
        "info": "Here shows how to use these nodes to invoke DIs/DOs/USER LED INDICATORs on Waveshare IPCBOX-CM5：\n1. DI (Digital Input): Read Status (CH1/CH2)\n2. DO (Digital Output): Invoke On/Off (CH1/CH2)\n3. Indicator: Invoke USER Led Indicators (USER1/USER2)",
        "x": 250,
        "y": 760,
        "wires": []
    },
    {
        "id": "abe91c7f3a8cc9d6",
        "type": "ipcbox-di",
        "z": "f9d415c9e22ff7d8",
        "name": "IPCBOX DI (CH1)",
        "channel": "23",
        "debounce": "50",
        "x": 210,
        "y": 820,
        "wires": [["e85655633dcab33e"]]
    },
    {
        "id": "e85655633dcab33e",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 2",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "b7b43338e6d60e58",
        "type": "ipcbox-di",
        "z": "f9d415c9e22ff7d8",
        "name": "IPCBOX DI (CH2)",
        "channel": "24",
        "debounce": "50",
        "x": 210,
        "y": 880,
        "wires": [["1fd3a33bfdfce418"]]
    },
    {
        "id": "1fd3a33bfdfce418",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 3",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "28f4af215e40f0f2",
        "type": "ipcbox-do",
        "z": "f9d415c9e22ff7d8",
        "name": "DO CH1",
        "channel": "27",
        "x": 380,
        "y": 980,
        "wires": [["8b39cac585409bec"]]
    },
    {
        "id": "155b9863c62eaec5",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "OFF",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 960,
        "wires": [["28f4af215e40f0f2"]]
    },
    {
        "id": "9b523593e49d9cf8",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "ON",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1020,
        "wires": [["28f4af215e40f0f2"]]
    },
    {
        "id": "8b39cac585409bec",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 4",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 980,
        "wires": []
    },
    {
        "id": "abdbcff43c12bfd3",
        "type": "ipcbox-do",
        "z": "f9d415c9e22ff7d8",
        "name": "DO CH2",
        "channel": "22",
        "x": 380,
        "y": 1100,
        "wires": [["4845fadbbe3d29af"]]
    },
    {
        "id": "2af80986a32069bd",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "OFF",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 190,
        "y": 1080,
        "wires": [["abdbcff43c12bfd3"]]
    },
    {
        "id": "d37738f5f9b1f2e1",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "ON",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 190,
        "y": 1140,
        "wires": [["abdbcff43c12bfd3"]]
    },
    {
        "id": "4845fadbbe3d29af",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 5",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 1100,
        "wires": []
    },
    {
        "id": "aa95a9aa8e05bf5b",
        "type": "ipcbox-indicator",
        "z": "f9d415c9e22ff7d8",
        "name": "IPCBOX USER1",
        "channel": "25",
        "x": 400,
        "y": 1240,
        "wires": [["d59d9b2f3b29f512"]]
    },
    {
        "id": "7dc655d6746b4a6e",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "OFF",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 190,
        "y": 1220,
        "wires": [["aa95a9aa8e05bf5b"]]
    },
    {
        "id": "78af0cb006d14815",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "ON",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 190,
        "y": 1280,
        "wires": [["aa95a9aa8e05bf5b"]]
    },
    {
        "id": "d59d9b2f3b29f512",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 8",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3357bbbcd285c261",
        "type": "ipcbox-indicator",
        "z": "f9d415c9e22ff7d8",
        "name": "IPCBOX USER2",
        "channel": "26",
        "x": 400,
        "y": 1380,
        "wires": [["79a28351ad4fa9c1"]]
    },
    {
        "id": "dd33b37a7399076b",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "OFF",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 190,
        "y": 1360,
        "wires": [["3357bbbcd285c261"]]
    },
    {
        "id": "819ac472e7cdc74b",
        "type": "inject",
        "z": "f9d415c9e22ff7d8",
        "name": "ON",
        "props": [{"p": "payload"},{"p": "topic","vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 190,
        "y": 1420,
        "wires": [["3357bbbcd285c261"]]
    },
    {
        "id": "79a28351ad4fa9c1",
        "type": "debug",
        "z": "f9d415c9e22ff7d8",
        "name": "debug 9",
        "active": true,
        "complete": "true",
        "x": 620,
        "y": 1380,
        "wires": []
    }
]
